@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a website used to learn how to instrument Open Telemetry. No data from this website is being tracked
    or saved.</p>
